@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

header{
    font-family: 'Noto Sans JP', sans_serif;
}
ul{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #3f3f3f;
    height: 40px;
}
div.menu{
    color: white;
    height: 40px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    border: 0.5px solid;    
}
div.menu:hover{
   background-color: lightblue; 
}
hr{
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans_serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 1100px;
}
#title_img{
    display:flex;
    flex:1;
    margin: 0;
    width: 100%;
    height: auto;
}
#maindiv{
    display: flex;
    flex: 1;
}
main{
    flex: 1;
}
aside{
    width: 100px;
    background-color:linen;
}
h1 {
    display:flex;
    margin: 0;
    background-color:white;
    height: 70px;
    align-items: center;
}
#landing_page_main{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.blog_title_all, h1 a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
    width: 700px;
}

.title_picture{
    position: relative;
}
.blog_title{
    position: absolute;
    color: white;
    bottom: 0;
    margin-left: 20px;
}
p.blog_titles{
    display: inline-block;
    background-color: #e0ffef;
    border-left: 6px solid #191970;
    box-shadow: 0 0 0 2px #eee;
    padding: 1rem;
    width: auto;
    margin: 5px;
}
footer{
    height: 50px;
    background-color: linen;
}
@media screen and (max-width:700px){
    body{
        width:100%;
    }
    aside{
        width: 0px;
    }
    img{
        max-width: 100%;
        height: auto;
        image-resolution: 50 dpi;
    }
}